.homepage
{
    /* background-image: url("../../img/homepage/bgimage.jpeg"); */
    /* background-repeat: no-repeat; */
    min-width: 100vw;
    min-height: 100vh;
    margin-top: -64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.homepage-btns
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homepage-btns a{
    margin: 5%;
}