.App {
  text-align: center;
}

.container{
  margin: 0 3%;
}

.displayTable 
{
  min-width: 700px;
}

tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.04);
}

form{

  padding: 20px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  border-radius: 15px;
}

.MuiOutlinedInput-root
{
  border-radius: 10px !important;
}

.MuiFormControl-root
{
  margin-bottom: 20px !important;
}

.submitBtn
{
  display: flex !important;
  margin-left: auto !important;
}

.navBar
{
  height: 64px;
  background-color: #0b0b4f !important;
  box-shadow: -1px -3px 10px white !important;
  z-index: 3000 !important;
  
}

.dashboardAppBar
{
  margin-top: 64px;
  box-shadow: none !important;
  background-image: linear-gradient(to bottom, #0b0b4f, #000070) !important;
  /* background-color: #000070 !important; */
}

.navbarLinksContainer
{
  padding: 0 20px;
}

.navbarLinksContainer a
{
  color: white !important;
  
}

.MuiSnackbar-root
{
  z-index: 3002 !important;

}


